/* ボタンのスタイル */
#start-button {
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンのテキスト色 */
  border: none; /* ボタンのボーダーを削除 */
  padding: 10px 20px; /* ボタンのパディング */
  font-size: 18px; /* ボタンのフォントサイズ */
  cursor: pointer; /* マウスカーソルをポインターに変更 */
  border-radius: 5px; /* ボタンの角を丸くする */
  transition: background-color 0.3s; /* ホバー時のアニメーション */
  margin-left: 40px;
}

#start-button:hover {
  background-color: #43A047;
}

#select-and-start-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#difficulty-selection {
  /* margin-right: 40px; */
  font-size: large;
}

#difficulty {
  font-size: 16px;
  padding: 10px;
  border: 2px solid #007BFF;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#difficulty:hover {
  border-color: #0056b3;
}

#difficulty:focus {
  outline: none;
  box-shadow: 0 0 10px #007BFF;
}

/* スタート画面のスタイル */
#start-screen {
  text-align: center; /* テキストを中央揃え */
}

/* ゲームコンテナのスタイル */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px; /* コンテナの最大幅を指定 */
  margin: 0 auto; /* コンテナを中央寄せ */
  padding: 20px;


  background-color: #333; /* コンテナの背景色 */
}

#board {
  text-align: center;
  margin-right: 80px;
}

#score-board {
  margin-bottom: 40px;
}

#cvs {
  height: 600px;
  width: 300px;
  background-color: #000;
  margin-right: 40px;

}

#next {
  width: 150px;
  height: 150px;
}

body {
  background-color: #222; /* シンプルな背景色 */
  color: #fff;
  font-family: Arial, sans-serif; /* フォント指定 */
  margin: 0; /* ページのマージンを削除 */
  padding: 0; /* ページのパディングを削除 */
}
/* タイトルのスタイル */
/* テトリスのタイトルのスタイル */
h1 {
  font-family: 'Arial', sans-serif; /* フォント指定 */
  font-size: 36px; /* フォントサイズ */
  color: #007BFF; /* テキストの色 */
  text-align: center; /* テキストを中央揃え */
  text-shadow: 2px 2px 4px #000; /* テキストに影を付ける */
  margin: 10px; /* マージンを追加 */
}


.hidden {
  display: none;
}

